div.login { 
  text-align: left;
  position:absolute;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  z-index: 2;
}

div.logininfo { 
  text-align: right;  
  position:relative;
  top: 5%;
  left: 90%;
  background-color: yellow;
  
}
/*
div.logout {
position:absolute;
bottom:0;
width:100%;
height:50px; /* Height of the footer 
color: white;
padding: 10px;
background-color: black;
z-index: 1000;
}
*/

.aud {
  
  width:230px;
}



.vocabNav{
z-index: -1;
} 